# Core functionality - changes here should be rare!
/src/app.py                   @Tech-Nat
/src/backend/database.py      @Tech-Nat
/src/backend/routers/auth.py  @Tech-Nat

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Tech-Nat
